Django==1.11.28
pyecharts
echarts-countries-pypkg==0.1.4
echarts-china-provinces-pypkg==0.0.2
echarts-china-cities-pypkg==0.0.8
echarts-china-counties-pypkg==0.0.2
echarts-china-misc-pypkg==0.0.1
echarts-united-kingdom-pypkg==0.0.1
